@import '../vars.scss';

.viewContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    @media screen and (max-width: 1000px) {
        min-height: 100vh;
    }
    .viewTop {
        h1 {
            color: $text-white;
            font-family: PassionOne-Regular;
            font-size: 24px;
            letter-spacing: 1px;
        }
        p {
            color: $text-white;
            font-family: Viga-Regular;
            font-size: 24px;
            letter-spacing: 1px;
        }
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .viewMiddle {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @media screen and (max-width: 1000px) {
            align-items: flex-end;
        }
        
        .previousStepButton {
            max-width: 12%;
        }
        .nextStepButton {
            max-width: 18%;
        }
        .itemDetails {
            max-width: 70%;
            @media screen and (max-width: 1000px) {
                flex-direction: column;
            }
        }
        .overview {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            @media screen and (max-width: 1000px) {
                flex-direction: column;
            }
            .overviewLeft {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .shipImage {
                    width: 278px;
                    margin-bottom: 40px;
                }
            }
            .overviewRight {
                .destinationImage {
                    width: 307px;
                }
            }
            
        }
        .rightEmptyColumn {
            width: 75px;
            max-width: 18%;
        }
    }
    .viewBottom {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}