@import '../../vars.scss';
.itemDetails {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .itemDetailsImage {
        margin-right: 90px;
        img{
           width: 307px; 
        }
    }
    .itemDetailsInfos {
        color: $text-white;
        margin-left: 90px;
        font-family: Viga;
        font-size: 14px;
        letter-spacing: 0.6px;
        h2{
            font-family: PassionOne-Bold;
            font-size: 36px;
            letter-spacing: 1.6px;
        }
    }
}